[2015-12-22 00:59] ccrama opened #4 "Setting RES value doesn't seem to work"
Whenever I set the resource value of a custom color resource (via `primaryColorRes()`) and recreate the activity, the value of the resource seems to remain the same.

Code I am using to set the colors:

[code]

Output from changing the colors between blue and green run from the onViewCreated method of my fragment in a ViewPager, using this code

[code]

[code]

I am trying to make one of my activi

[2015-12-22 01:04] afollestad commented on #4
Updated your comment for correct code highlighting/formatting.

This code has no purpose:

[code]

You're updating the primary and accent color to the selected color, and then resetting it to a color resource. Your logging is outputting the value of those color resources too. **Color resource values never change.*

[2015-12-22 01:05] afollestad commented on #4
Updated your comment again, you should use markdown code highlighting instead of HTML tags.

[2015-12-22 01:07] ccrama commented on #4
Removing accentColorRes and primaryColorRes doesn't solve the issue (just doing accentColor() and primaryColor()) and changed the XML to use colorPrimary and colorAccent. Is there something else I'm missing?

[2015-12-22 01:10] afollestad commented on #4
Well the value you're logging to see if it's changed won't ever change since it's a color resource.

[2015-12-22 01:11] afollestad commented on #4
You would want to log this:

[code]

[2015-12-22 01:12] afollestad commented on #4
One more thing, you don't need to recreate the Activity there unless you're changing the theme of the Activity itself.

You can change all the colors without recreation:

[code]

[2015-12-22 01:20] ccrama commented on #4
Ah, that makes more sense. All seems to be working now!

I would suggest an edit to the readme as it makes it sound like setting the attr or res value would change those respective values, and I was trying to figure out how you bypassed the fact that they were constant.

Also setting the tags instead of background/tint values was the other half of my issue, would it be possible to detect if the ba

[2015-12-22 01:20] #4 closed

[2015-12-22 05:47] jlelse opened #5 "Gradle Error with 0.3.1"
JitPack seems to want a password to download the aar or to see the build log. What's up there? 0.2.1 worked well yesterday.

[2015-12-22 05:48] afollestad commented on #5
Hmm, I haven't run into that issue. You may want to report it to JitPack's issue tracker.

[2015-12-22 05:53] jlelse commented on #5
It says me "No subscription for github.com/afollestad"

[2015-12-22 06:05] AlandEr2612 commented on #5
I cant use the version 0.3.1 via gradle...

[2015-12-22 06:14] jlelse commented on #5
Yes I wrote to Jitpack Support

[2015-12-22 08:51] jlelse commented on #5
The problem seems to be solved by Jitpack or it is thanks to using a VPN

[2015-12-22 08:51] #5 closed

[2015-12-22 17:07] ccrama opened #6 "View Tags can cause a ClassCastException"
If you have a view with a custom tag (like a ViewHolder in a ListView) that is not a string, the method
```processTag()``` in ```ATE.java``` will cause a ClassCastException.

[Link to the line.](https://github.com/afollestad/app-theme-engine/blob/master/library/src/main/java/com/afollestad/appthemeengine/ATE.java#L138)

I don't know of a way you can really fix the issue except for warn developers

[2015-12-22 17:19] #6 closed

[2015-12-22 17:20] afollestad commented on #5
It looks like JitPack is having more issues today unfortunately.

[2015-12-23 16:24] PDDStudio opened #7 "Switching from Recents back to Application messes up Toolbar"
When Switching from Recents (or locking the phone while using an App which implements app-theme-engine) back into the application the toolbar starts stucking and disappears half above the statusbar.

[2015-12-23 16:25] PDDStudio opened #8 "Theme edge color of RecyclerViews, ListViews, and ScrollViews"
When using RecyclerView or ViewPager the EdgeColors won't apply after changing the Theme via ATE.

[2015-12-23 21:29] afollestad commented on #8
Not 100% clear on what you mean.

You need to use `ATE.apply()` inside your RecyclerView adapter, and inside your ViewPager Fragments, if you don't do that now.

[2015-12-23 21:40] AnimbusDev commented on #8
@afollestad He means the glow animation. When you scroll to the bottom of a list

[2015-12-23 21:41] afollestad commented on #8
Ohh, right. Not sure if there's a way to theme that at runtime or not.

[2015-12-23 22:02] afollestad commented on #7
Oddly enough, this had been happening in the Settings Screen in the sample app too. Not really sure what the cause was, but using `android:fitsSystemWindows="true"` on the root layout of the Activity fixes it.

[2015-12-23 22:06] plusCubed commented on #8
Reflection seems like the most probable way: http://stackoverflow.com/questions/27342957/how-to-change-the-color-of-overscroll-edge-and-overscroll-glow

[2015-12-23 22:12] afollestad commented on #8
@plusCubed that's helpful, thanks!

Hopefully field names are the same for RecyclerView, since it doesn't inherit ScrollView.

[2015-12-23 22:46] AlandEr2612 opened #9 "Additional modifiers for selector tints and shadow tints"
Would be great if the color of the Floating action button change... and the shadow on the textviews too...

[2015-12-23 22:49] afollestad commented on #9
Use background tints for floating action buttons.

By shadows, you mean elevations? You shouldn't need to change elevation with a theme engine.

[2015-12-23 22:49] afollestad commented on #9
I'll actually have to add background tints, since you can currently only tint the image.

[2015-12-23 23:03] AlandEr2612 commented on #9
i mean the TextViews shadows... like this code...

<TextView
            android:id="@+id/tv_app_name"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:gravity="center"
            android:shadowColor="?android:attr/colorPrimary"
            android:shadowDx="2.5"
            androi

[2015-12-23 23:41] AnimbusDev commented on #8
@afollestad They are. Browsed source of recycler

[2015-12-24 01:09] afollestad commented on #9
Added tag values for modifying TextView shadows. Added tag values for tinting background selectors.

[2015-12-24 01:09] #9 closed

[2015-12-24 04:46] afollestad commented on #8
@AnimbusDev they're not, they have different names

[2015-12-24 04:47] afollestad commented on #8
And also a different class type.

[2015-12-24 05:35] afollestad commented on #8
It's a little more complex than I thought. The 4 `EdgeEffectCompat` instances in `RecyclerView` aren't initialized right away. It looks like they might not be initialized until the first time they're actually needed.

A work around might be to programmatically instantiate them right away.

[2015-12-24 05:36] afollestad commented on #8
Using the scroll listener will probably work as mentioned here: http://stackoverflow.com/a/29469396/309644

[2015-12-24 05:46] afollestad commented on #8
Done

[2015-12-24 05:46] #8 closed

[2015-12-24 06:07] AlandEr2612 opened #10 "Suggestion for next release..."
Not to sound obsessive, but the widget switch is missing on the ATE default views, and the text of EditText, checkbox and radio button are always black, because Text Colors tags dont work, it would be great to be able to change the color of these texts do not? ... I know that means more code and computation time, but an attempt would not be bad...

[2015-12-24 06:39] afollestad commented on #10
There isn't anything preventing that from working. The default widgets do not currently set the text color tags.

[2015-12-24 06:39] #10 closed

[2015-12-24 06:57] AlandEr2612 commented on #10
ATESwitch i think that is missing...

[2015-12-24 14:16] AnimbusDev commented on #8
@afollestad I guess they changed it

[2015-12-24 14:18] AnimbusDev commented on #10
@afollestad Yeah, I'm pretty sure ATE switch is missing as said above

[2015-12-24 15:02] AlandEr2612 opened #11 "Tags Dont Work Well"
The tag text_shadow_primary_color dont change the shadow color...

i have this but dont work...

<TextView
            android:id="@+id/tv_app_name"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:gravity="center"
            android:shadowColor="@color/colorPrimary"
            an

[2015-12-24 15:05] AlandEr2612 commented on #11
this is how i save my theme...

public static void saveTheme(AppCompatActivity activity, Integer color) {
        Config config = ATE.config(activity, null);
        config.primaryColor(color);
        config.autoGeneratePrimaryDark(true);
        config.accentColor(CircleView.shiftColorDown(color));
        config.coloredStatusBar(true);
        config.coloredNavigationBar(true);
        config.c

[2015-12-24 15:08] AnimbusDev commented on #11
@Alander2612 because he didn't release the new version with those tags version yet...

[2015-12-24 15:10] AnimbusDev commented on #11
@Alander2612 you can also replace the Config.commit; activity.recreate; with Config.apply(activity)

[2015-12-24 15:41] #11 closed

[2015-12-24 16:29] afollestad commented on #11
@AlandEr2612 also, you should really use Markdown's code formatting. Not doing so leaves parts out in your comment and makes it hard to read them.

[2015-12-24 16:31] afollestad commented on #11
Updated both of your comments for syntax highlighting in case you're curious on how it's done.

[2015-12-24 18:06] afollestad commented on #11
https://github.com/afollestad/app-theme-engine/releases/tag/0.4.0

[2015-12-24 18:06] afollestad commented on #9
https://github.com/afollestad/app-theme-engine/releases/tag/0.4.0

[2015-12-24 18:06] afollestad commented on #8
https://github.com/afollestad/app-theme-engine/releases/tag/0.4.0

[2015-12-24 18:06] afollestad commented on #6
https://github.com/afollestad/app-theme-engine/releases/tag/0.4.0

[2015-12-24 18:06] afollestad commented on #5
https://github.com/afollestad/app-theme-engine/releases/tag/0.4.0

[2015-12-24 21:45] AnimbusDev opened #12 "RecyclerView Edge Scroll"
The overscroll tinting doesn't work in the sample

[2015-12-24 21:49] afollestad commented on #12
It was working before I published the new release.

I'm not at a computer right now to debug it though, since it's Christmas.

On Thu, Dec 24, 2015, 3:45 PM AnimbusDev <notifications@github.com> wrote:

--

Regards,

Aidan Follestad
http://aidanfollestad.com
651-528-1662

[2015-12-24 23:15] afollestad commented on #12
It's working for me in the sample:

![screener_20151224 17-14-00](https://cloud.githubusercontent.com/assets/1820165/11998373/d9b8e134-aa61-11e5-82b6-62663c36204e.png)

[2015-12-24 23:15] #12 closed

[2015-12-24 23:55] afollestad commented on #10
Added `ATESwitch` (which exends `SwitchCompat`, not `Switch`), along with tinting support for `Switch` (on API 16+) and `SwitchCompat` (on all API levels).

[2015-12-25 04:00] afollestad commented on #7
Does this still happen?

[2015-12-25 05:46] AnimbusDev opened #13 "Ripples in views logic tweaks for compound buttons"
Take a look here. The ripple should be grey here, and accent when switched on

https://goo.gl/photos/PgVe4LhrNnL6gK6F8

[2015-12-25 05:56] AnimbusDev opened #14 "Tinting widgets in the overflow menu"
Widgets in some menus aren't themed

https://goo.gl/photos/JACWjyFYYMsWDTDV6

[2015-12-25 11:00] kabouzeid commented on #14
Can confirm

[2015-12-25 11:02] kabouzeid opened #15 "RecyclerView overscroll color SOMETIMES not working"
![screenshot_20151225-115823](https://cloud.githubusercontent.com/assets/7303830/12002476/5d0b313e-aaff-11e5-97d2-7e5525ff1fa8.png)

[2015-12-25 11:07] PDDStudio commented on #7
I'll check it out when I'm back on my computer and report then. btw, thanks for fixing the EdgeColor @afollestadt

[2015-12-25 15:12] AnimbusDev commented on #15
It's pretty spotty in the sample. If you restart the sample it might start working

[2015-12-25 16:50] PDDStudio commented on #7
Just saw that I'm already using `android:fitSystemWindows="true"` (not only) on my root layout. (Which is a CoordinatorLayout) @afollestad

[2015-12-25 17:02] afollestad commented on #7
Hmm, that might be the problem. I'll have to look into it more next week.

[2015-12-25 17:02] afollestad commented on #14
Yeah, it happens in the sample. I haven't gotten around to figuring it out and won't have time to do so until next week.

[2015-12-25 17:06] afollestad commented on #15
I might need help debugging this one since I can't reproduce it.

![screener_20151225 11 05 10](https://cloud.githubusercontent.com/assets/1820165/12003882/7096aff6-aaf7-11e5-8807-378bc1a640d2.png)

[2015-12-25 17:19] PDDStudio commented on #7
It seems like the **CoordinatoLayout** is causing this problem, wrapping a simple RelativeLayout around it - fixes it (in my situation)

[2015-12-25 17:23] PDDStudio commented on #15
I've the same issue in the sample at OP. Just let me know how I/we can help to get this fixed.
@afollestad you might want to have a look at this one (in case you got it different)
https://gist.github.com/PDDStudio/caadc623be2b6d9af114

[2015-12-25 17:28] PDDStudio opened #16 "AppBarLayout support?"
Using `coloredActionbar(true)` within an AppBarLayout colors the ActionBar - even when not collapsed.

[2015-12-26 00:45] afollestad commented on #14
The main reason is that `onMenuOpened()` of `Activity` currently isn't called in `MainActivity` for whatever reason, it had been originally and stopped working recently.

[2015-12-26 04:39] #13 closed

[2015-12-26 22:21] kabouzeid commented on #15
@afollestad I tried again and figured out that tinting fails for me as soon as I change something in the theme (dark/light, primary, secondary color etc.)

[2015-12-27 22:08] afollestad commented on #15
@PDDStudio I actually found that code on a StackOverflow post and modified it, since using static variables like that here is a bad idea.

@kabouzeid that's helpful, I'll try to reproduce it, thanks

[2015-12-27 22:09] afollestad commented on #15
Plus RecyclerView has changed since that code was written. There are 4 edges on RecyclerViews since some scroll horizontally, and the field names changed.

[2015-12-28 00:46] AnimbusDev opened #17 "Tab layout support"
Can you theme TabLayout like NavigationView? Except please give us an option to replace the accent color with the primary text color pertaining to the primarycolor.

For example, you can use the accent color or this:
if the color is dark, then use a light color, and vice versa

[2015-12-28 00:48] afollestad commented on #17
Good idea!

Do you think I should make tag values for this? I want to avoid adding too many tags that will make the library confusing in the end.

[2015-12-28 01:29] afollestad commented on #15
Fixed

[2015-12-28 01:29] #15 closed

[2015-12-28 03:56] afollestad commented on #7
I think I found the reason why, it was related to how `setSystemUiVisibility` was being used to apply dark status icons on Marshmallow.

[2015-12-28 03:56] #7 closed

[2015-12-28 04:45] afollestad commented on #17
Added, haven't documented it yet, but see the sample project.

[2015-12-28 04:45] #17 closed

[2015-12-28 04:53] AnimbusDev commented on #17
@afollestad Great work!

Can you please add support for icon tabs? Basically works the same way you did the text (getting the color then changing alpha) but with a ColorStateList and a drawable. Thanks

[2015-12-28 05:04] afollestad commented on #17
Added that too, it will match the indicator color (and it will be semi-transparent when not selected)

[2015-12-28 05:04] afollestad commented on #17
This is in https://github.com/afollestad/app-theme-engine/commit/833ffda3ad96474e1293083b01d91cef41fab197 and https://github.com/afollestad/app-theme-engine/commit/9c7ca19bec2817eb8f1285e1bb1265f9191c0a81, I also documented the tags (which aren't needed to use default black or white colors).

[2015-12-28 05:13] AnimbusDev commented on #17
@afollesrad so if I want the tab's text and indicator colors to match the background (if the background is dark, use light text/icons/indicators, and vice versa) I don't need tags. Is that correct?

[2015-12-28 05:19] AnimbusDev commented on #17
@afollestad Just took a look at the code. One thing though, I currently to set the background of the tabs to transparent and it gets its background from the AppBarLayout. I can fix that easily though, but I think it would be easier for developers to not add tags and just have the library get the color from appbarlayout (though thisnis just a convenience thing)

[2015-12-28 05:22] afollestad commented on #17
Added in https://github.com/afollestad/app-theme-engine/commit/ffcd5fea3a39be8fd0bbe7a8c44f506dc856d16b

[2015-12-28 05:24] afollestad commented on #14
So, @plusCubed got it working in the deep sub menus. All that we have left to fix now is the initial overflow menu.

[2015-12-28 05:25] AnimbusDev opened #18 "Apply of recreate"
So I have multiple activities that theme themselves based on a bitmap. Now, when the bitmap changes, I need to update colors (for example, status bar color and toolbar light mode based on customizer)

So, here is my question: does apply update everything, or do I need to recreate the activity

[2015-12-28 05:26] afollestad commented on #18
`apply()` updates everything other than the Activity theme.

[2015-12-28 05:27] afollestad commented on #18
It should automatically make a call to `preApply()` for you too, which applies status bar theming among other things.

[2015-12-28 05:28] #18 closed

[2015-12-28 05:41] afollestad commented on #16
@PDDStudio if you're using an `AppBarLayout`, there shouldn't be a Support Action Bar, right? So it should only color the Toolbar which is inside of it.

I haven't used an `AppBarLayout` before, where does the coloring actually get applied?

[2015-12-28 05:42] afollestad commented on #16
If it gets applied to the Toolbar inside of it, it should already work fine

[2015-12-28 11:51] PDDStudio commented on #16
I've a Toolbar inside my ActionBarLayout. But I'm manually applying my theme on every start ( and also call coloredStatusBar(true) ) of my application which ends up that the action bar is themed even when the CollapsingToolbarLayout isn't collapsed

[2015-12-28 16:22] afollestad commented on #16
By action bar, you mean an actionbar/toolbar other than the one inside of your `AppBarLayout`?

[2015-12-28 19:37] PDDStudio commented on #16
I'm talking about the one inside my AppBarLayout. The setup is like following:
`<AppBarLayout>
<CollapsingToolbarLayout>
<ImageView />
<Toolbar />
<CollapsingToolbarLayout>
<AppBarLayout>`

[2015-12-28 19:50] AnimbusDev opened #19 "More appbarlayout support"
Can you do the same with toolbars as it did with tabs?

I mean to detect background from appbarlayout

[2015-12-29 00:59] afollestad commented on #19
This information should be added to the other AppBarLayout issue

[2015-12-29 00:59] #19 closed

[2015-12-29 17:05] #14 closed

[2015-12-29 17:06] afollestad commented on #14
Fixed in both the overflow and submenus now.

[2015-12-30 03:20] julian200601 opened #20 "TabLayout indicator color"
`android:tag="tab_indicator_accent_color"` on `TabLayout` tints indicator black or white depending on the background but doesn't use the accent color. (For me and in the sample). Is this a Bug or did I miss something in the docs?

[2015-12-30 04:34] #20 closed

[2015-12-30 04:36] afollestad commented on #20
It should work with version 0.5.1 now:

https://github.com/afollestad/app-theme-engine/releases/tag/0.5.1

[2016-01-01 00:14] AnimbusDev opened #21 "Icons for Task Description"
Can you please add the ability to specify a custom icon to a task description? Either using the standard task description customizer or otherwise (preferably otherwise...)

Edit: Also titles please

[2016-01-01 19:37] MidsizeMango opened #24 "Primary Color Should be Opaque Error??"
[code]

[2016-01-01 19:38] afollestad commented on #24
That isn't thrown by my library. It looks like that's a limitation of task description (recents entry) coloring on Android.

[2016-01-01 19:39] afollestad commented on #24
As a workaround, I'll have the library remove the alpha (transparency) component when applying task description theming.

But it's generally uncommon to use transparency for a primary theme color.

[2016-01-01 19:47] #21 closed

[2016-01-01 19:47] #24 closed

[2016-01-01 19:47] afollestad commented on #21
Added a field to the customizer; that's the most reliable way. Storing drawable resources is unreliable since resource IDs can change between builds.

Returning null for the method will fallback to the default (app's launcher icon).

[2016-01-01 19:51] afollestad commented on #24
Alpha will automatically be stripped from primary theme colors when they are applied to your app's task description. This will be available in the next release.

[2016-01-01 23:47] afollestad commented on #16
@PDDStudio I don't see why it wouldn't already work with that, since it should only be coloring the Toolbar inside of your layout.

[2016-01-01 23:54] afollestad commented on #16
Unless the `CollapsingToolbarLayout` should be colored instead of the `Toolbar`. Surprisingly, I haven't dealt with these components too much yet so I'm not super familiar with them.

[2016-01-02 00:17] AnimbusDev commented on #16
@afollestad
I have the same issue. Check your Google plus.

[2016-01-02 00:55] afollestad commented on #16
I had already starting implementing support 😀

It's almost done now

[2016-01-02 01:19] afollestad commented on #16
A lot of progress has been made in https://github.com/afollestad/app-theme-engine/commit/3468cf3bbbb044bb816acc2ed6ed5691f5e717b8, it's not 100% done yet

[2016-01-02 01:34] #16 closed

[2016-01-02 01:45] afollestad commented on #24
https://github.com/afollestad/app-theme-engine/releases/tag/0.6.0

[2016-01-02 01:46] afollestad commented on #21
https://github.com/afollestad/app-theme-engine/releases/tag/0.6.0

[2016-01-02 01:46] afollestad commented on #20
https://github.com/afollestad/app-theme-engine/releases/tag/0.6.0

[2016-01-02 01:46] afollestad commented on #16
https://github.com/afollestad/app-theme-engine/releases/tag/0.6.0

[2016-01-02 02:50] AnimbusDev opened #25 "CompoundButton (CheckBox/Switch) animations in preference subclasses don't appear"
The checkbox/switch settings do not animate.

[2016-01-02 02:52] afollestad commented on #25
Hmm, I'm not really sure why that would be, since it works fine in Cabinet.

It'll probably require some investigation which I won't be able to do
today.

On Fri, Jan 1, 2016, 8:50 PM AnimbusDev <notifications@github.com> wrote:

--

Regards,

Aidan Follestad
http://aidanfollestad.com
651-528-1662

[2016-01-02 02:59] AnimbusDev opened #26 "Inconsistency among status bar and toolbar light modes?"
![screenshot_20160101-215344](https://cloud.githubusercontent.com/assets/11251606/12073015/af1f09e0-b0d2-11e5-9c04-87c1d392b75a.png)
Here is what I mean. To fix this you can get the darkness not from the primaryDark color, but the primary color.

(With customizers that will be harder to do but it would also be possible in some way, if, for example, the activity is both a toolbar and status bar cus

[2016-01-02 03:01] afollestad commented on #26
It's better to be a bit more specific with issue titles, rather than one to two words, FYI.

Toolbar light mode is controlled with `lightToolbarMode`, which is also available through the toolbar customizer. I just didn't add a setting for that in the sample app.

[2016-01-02 03:02] afollestad commented on #26
Unless I misunderstood what you meant.

[2016-01-02 03:03] afollestad commented on #26
If the toolbar is considered dark, the status bar should be too since it's always a darker shade. Any other result is from user error.

[2016-01-02 03:05] AnimbusDev commented on #26
Everything is set here on automatic @afollestad

And this works in reverse. If the toolbar is considered light, the status bar can be considered dark because it is a shade darker.

[2016-01-02 03:06] afollestad commented on #26
Oh right, I see what you mean.

Using primary dark color for toolbars could be a bit unintuitive for users of ATE, though.

[2016-01-02 03:09] AnimbusDev opened #27 "Disabled colored states for tinted views"
More issues with preference views. When disabled, they do not indicate that whatsoever.

The dynamic page names here is disabled.
![screenshot_20160101-220713](https://cloud.githubusercontent.com/assets/11251606/12073035/0b17b71e-b0d4-11e5-928d-42350724edd6.png)

Same with some views. I have seen it with switches (not pictured here) and I'll assume it happens with the rest of the views.

[2016-01-02 03:10] afollestad commented on #27
I'll have to add disabled states to selectors when I get the chance.

I haven't seen issues with no images on switches, though. Make sure you're using SwitchCompat rather than Switch.

[2016-01-02 03:14] AnimbusDev commented on #27
@afollestad I meant that I don't have an image with the switches acting up.

Sorry that I didn't clarify

[2016-01-02 03:16] AnimbusDev opened #28 "Selected NavigationView item background color for dark themes"
![screenshot_20160101-221448](https://cloud.githubusercontent.com/assets/11251606/12073050/299cb8c8-b0d5-11e5-83e2-ccf0812edce9.png)
This is still considered a light color by the code, so the drawer selected background is way too dark.

[2016-01-02 03:20] AnimbusDev commented on #26
@afollestad Right. I'm saying detect the dark state of the status bar from primary
Like so:
![screenshot_20160101-221933](https://cloud.githubusercontent.com/assets/11251606/12073067/d8745c52-b0d5-11e5-888e-50111da528fa.png)

[2016-01-02 03:21] afollestad commented on #28
The colors used there are based on the navigation view background color, I believe.

That looks pretty normal to me. It follows the Material Design Guidelines for navigation drawers (well it's the inverted version of the light color which can only be used on light themed drawers).

[2016-01-02 03:22] afollestad commented on #26
Oh, yeah, that's a good solution

[2016-01-02 03:25] AnimbusDev commented on #28
@afollestad The color is way too dark.

Here is how it should look:
![screenshot_20160101-222339](https://cloud.githubusercontent.com/assets/11251606/12073081/525433e4-b0d6-11e5-814e-af9b31ed19a9.png)

And here I have it with my faithful (same color as shown in the md concept) theme and it works properly:
![screenshot_20160101-222456](https://cloud.githubusercontent.com/assets/11251606/12073084/80

[2016-01-02 03:28] AnimbusDev commented on #28
@afollestad The underlying issue here is that the background of the drawer is considered light enough to be light.

[2016-01-02 03:34] AnimbusDev opened #30 "Search view theming"
The search view should be themed based on the toolbar light mode.
![screenshot_20160101-223250](https://cloud.githubusercontent.com/assets/11251606/12073103/c99d6faa-b0d7-11e5-9a9b-57e693c7d3b3.png)

[2016-01-02 03:56] #28 closed

[2016-01-02 03:58] #26 closed

[2016-01-02 04:00] AnimbusDev opened #31 "Ripple colors when tinting"
Can you please change the color of ripples from just black/white to the material colors?

https://github.com/afollestad/app-theme-engine/blob/90ef47177c0215137223c41b8d2d9d086dfd1201/library/src/main/java/com/afollestad/appthemeengine/util/TintHelper.java

[2016-01-02 04:02] afollestad commented on #31
There's no reliable way to know which color to use from the Material spectrum, thus why white/black is used now.

The only reliable way to do that would be to lighten or darken the view color (based on the lightness of it) and use that result for the ripple.

But using white/gray for FAB ripples is pretty standard, which is why Cabinet for an example uses white for the ripple color.

[2016-01-02 04:06] AnimbusDev commented on #31
@afollestad the color value can be found at ```
android.support.v7.appcompat.R.color.ripple_material_light ``` and  ```android.support.v7.appcompat.R.color.ripple_material_dark```

[2016-01-02 04:06] afollestad commented on #31
Oh you meant the actual ripple defaults, I thought you meant the color palettes. Will do.

[2016-01-02 04:08] AnimbusDev commented on #31
@afollestad on a side note, I don't think the way you tinted the icon in the fab would work pre 5.0

But I'm not sure

[2016-01-02 04:11] afollestad commented on #31
@AnimbusDev it tends to work back to around ICS, I've already updated it to use the tinting other code in there uses (Drawable wrapping via AppCompat), I just haven't pushed quite yet

[2016-01-02 04:51] #31 closed

[2016-01-02 04:55] afollestad commented on #30
The text color/hint color and close button tint are now themed. All that's left is theming the icon to the left of the SearchView, which I'm assuming is the Toolbar's navigation icon.

Since it appears the Toolbar changes its own navigation icon when an ActionView expands, a reliable way to tint it is needed. I don't think relying on detecting when the SearchView is opened is a good way, since we

[2016-01-02 14:37] MidsizeMango commented on #24
@afollestad Thanks, the update 0.6.0 fixed the issue.

[2016-01-02 15:06] AnimbusDev opened #34 "Toolbar Customizer breaks Collapsing toolbar support"
Returning a custom color using toolbar customizer still colors the toolbar even when collapsing toolbar layout is expanded

[2016-01-02 18:50] afollestad commented on #34
Unable to reproduce.

It works fine in the sample project. The toolbar customizer doesn't affect how colors are applied, it just affects what colors are applied.

[2016-01-02 18:50] #34 closed

[2016-01-02 19:03] AnimbusDev commented on #34
@afollestad Hmm...

Thats weird.
no clue why it is acting up like that

[2016-01-02 19:32] afollestad commented on #27
@AnimbusDev hmmm, I'm not able to reproduce disabled states for preferences not working. It works fine for me (see the latest code for the sample project, I made the dummy preference disabled).

Disabled states are needed elsewhere, obviously, but it works fine in preferences.

[2016-01-02 20:18] AlandEr2612 opened #35 "Add ATESwitchPreference"
`com.afollestad.appthemeengine.prefs.ATESwitchPreference`, please add this preference widget.

[2016-01-02 20:42] afollestad commented on #27
Re-opening since I need to add disabled states for text/icons too (in TextViews and ImageViews/ImageButtons)

[2016-01-02 20:43] afollestad commented on #27
Oops, I already added it for TextViews. I meant for Buttons and ImageButtons.

[2016-01-03 04:37] AnimbusDev opened #36 "Issue with ATEToolbarCustomizer breaking collapsing toolbar is still present"
![screenshot_20160102-232904](https://cloud.githubusercontent.com/assets/11251606/12077247/a9f73f2e-b1a8-11e5-9d41-51ba7f33ea30.png)
Hmm. I don't know how to reproduce it...

I just use ATEToolbarcustonizer and ate status bar customizer.

[2016-01-03 05:52] #27 closed

[2016-01-03 06:08] #35 closed

[2016-01-03 08:09] naman14 opened #37 "NoSuchMethodError in EdgeGlowUtil"
[code]

Happens on recyclerview overscroll on Android 4.2.2

[2016-01-04 01:04] #37 closed

[2016-01-04 01:39] #30 closed

[2016-01-04 01:43] AnimbusDev commented on #36
@afollestad Here is the code

https://github.com/Substance-Project/GEM/blob/indev/mobile/src/main/java/com/animbus/music/ui/activity/albumDetails/AlbumDetails.java

[2016-01-04 01:50] afollestad commented on #36
@AnimbusDev I was able to reproduce it in the sample project just now, but *only* when `setSupportActionBar()` is used to set a `Toolbar` as the support action bar. Without that, it works fine.

Looking into why that is now.

[2016-01-04 01:51] afollestad commented on #36
@AnimbusDev oh I know why, it's because the background color is being set from `ATE.preApply()` *only* when `getSupportActionBar()` doesn't return null.

[2016-01-04 01:54] AnimbusDev commented on #36
@afollestad This is great news!

Do you have an ETA for the next release?

[2016-01-04 02:01] #36 closed

[2016-01-04 02:02] afollestad commented on #36
Fixed 😁

It should be released once this last issue is solved: https://github.com/afollestad/app-theme-engine/issues/25

[2016-01-04 02:10] AnimbusDev commented on #25
@afollestad After the previous victory against rogue code setting backgrounds on support action bars, is there any progress on this?

[2016-01-04 02:13] afollestad commented on #25
@AnimbusDev I haven't made any progress on this quite yet

[2016-01-04 02:25] afollestad commented on #25
I really have no idea what's causing this, ATE is based off code used in existing apps which have no issues with `CompoundButton` animations. It's very weird.

[2016-01-04 02:26] AnimbusDev commented on #25
Maybe it is because the checkbox isn't selectable and focasable etc etc

@afollestad

[2016-01-04 02:30] afollestad commented on #25
@AnimbusDev that does fix it, but it breaks correct behavior. That configuration is needed so that you can press the entire preference to toggle it rather than only the `CompoundButton`.

Cabinet's widget layout for a `CheckBoxPreference` looks like this:

[code]

So the only difference in ATE is the background of it.

[2016-01-04 02:35] AnimbusDev commented on #25
@afollestad Hmm. Maybe the background has something to do with it?

I doubt it but..

[2016-01-04 03:01] AnimbusDev commented on #25
@afollestad Does Cabinet use the support version of preferences? Or the checkbox is based on the support library version?

[2016-01-04 03:26] afollestad commented on #25
Hmm, Cabinet actually does use `AppCompatCheckBox`. I wonder if that'd make a difference here.

[2016-01-04 03:28] afollestad commented on #25
Well actually no, it doesn't work with `SwitchCompat` either so that can't be it.

[2016-01-04 03:42] AnimbusDev commented on #25
@afollestad maybe it is the padding on the switch?

[2016-01-04 04:07] AnimbusDev opened #38 "Simplify list preferences"
You can simplify the whole update the summary to be the value thing with one simple solution:
Remove the code and for android:summary set it to be "%s" No code necessary and it works like a charm

[2016-01-04 04:38] plusCubed commented on #25
Investigating this issue and I'm super confused... but I think I also reached this conclusion in the past when fixing it in Impression. There's some difference between the `Preference` classes and any subclasses of them. Even having no code in the subclasses still killed the animation. Anyway, I'll push a "fix" - which is to not have those classes and use layout files instead. This'll need to be d

[2016-01-04 05:22] plusCubed commented on #25
I spoke too early. Long story short, having the dev put in the widget files won't work because then they can't define the key in XML. Having the dev use their own widget layout files won't work either because of `SwitchPreference`, which uses an internal ID (fine for `CheckBoxPreference` though).

We need to find the root cause then - why `Preference` subclasses are different.

[2016-01-04 05:27] AlandEr2612 opened #39 "Typeface tags"
Additional tags which allow you to set typefaces to text views would be nice.

Typeface caching should be used using maps, too.

[2016-01-04 12:57] M2ck opened #40 "Hide navigation bar option for devices without this system bar"

[2016-01-04 12:58] M2ck opened #41 "Add a black AMOLED theme for compatible devices"

[2016-01-04 16:38] afollestad commented on #41
Light/dark themes aren't part of the library. Your app handles that with configurations.

[2016-01-04 16:38] #41 closed

[2016-01-04 16:39] afollestad commented on #40
Again, the that's only for the sample project, not the whole library.

[2016-01-04 16:39] #40 closed

[2016-01-04 16:41] afollestad commented on #39
@AlandEr2612 updated the title and description.

[2016-01-04 16:52] AlandEr2612 commented on #39
Maybe something like... config.setTypeface (font in assets folder)

[2016-01-04 18:48] afollestad commented on #25
@plusCubed thanks for looking into it

It looks like there's actually a bug logged in the Android issue tracker: https://code.google.com/p/android/issues/detail?id=85392

@AnimbusDev

[2016-01-04 18:49] afollestad commented on #25
Although it's from 2014

[2016-01-04 18:50] afollestad commented on #25
There's a StackOverflow post linked from that bug that may have a solution: http://stackoverflow.com/questions/30336635/extending-preference-classes-in-android-lollipop-losing-animation/33766930#33766930

I can check it out later when I'm not at work, or you guys could check it out in the meantime. @plusCubed @AnimbusDev

[2016-01-04 19:48] AnimbusDev commented on #25
@afollestad I cannot today.
@plusCubed it is up to you (or we will just wait for Aidan)

[2016-01-04 19:59] AnimbusDev commented on #25
@afollestad @plusCubed The thing is, it works flawlessly in Cabinet. So, before we do anything, we need to find out what the differences are between this and Cabinet's preference classes.

[2016-01-04 20:11] afollestad commented on #25
@AnimbusDev it's because we're using subclasses in ATE, and have to.

Cabinet uses regular Preferences and changes only the layouts with the XML attributes.

[2016-01-04 20:21] AnimbusDev commented on #25
@afollestad What if, instead of using custom preferences, when inflating the preferences you just call ATE.apply there with the key?

[2016-01-04 20:30] #39 closed

[2016-01-04 21:01] AnimbusDev opened #43 "New toolbar customiser"
Can you please separate all of the toolbar methods into separate customisers? I do not see a use for returning the colors when you give me a toolbar, so please, separate it into this:

**ATEToolbarCustomizer**
* Light Mode
* Color

**ATEAdvancedToolbarCustomiser (extends are toolbar customiser**
* All methods from base
* Light mode with passing toolbar
* Color with passing toolbar

[2016-01-04 21:02] AnimbusDev commented on #43
Oops didn't finish and posted

[2016-01-04 21:03] afollestad commented on #43
You can just ignore the Toolbar parameter

[2016-01-04 21:03] #43 closed

[2016-01-04 21:04] AnimbusDev commented on #43
@afollestad Right but there are now for methids, two of which I do not use.

[2016-01-04 21:04] afollestad commented on #43
Having two very similar classes for the same thing would be redundant. It's still the same two methods as before, with added parameters.

[2016-01-04 21:06] AnimbusDev commented on #43
@afollestad
Well, it looks like the new impl changed it. The older version (from two days ago) added redundant methods. Never mind then

[2016-01-04 21:19] #38 closed

[2016-01-04 21:41] AnimbusDev commented on #25
@afollestad Any progress with the proposed fix from stack overflow?

[2016-01-04 23:26] plusCubed commented on #25
It's... a start to something. The animation is getting started now, but immediately canceled. Still working on it.

[2016-01-04 23:52] plusCubed commented on #25
Update: it's getting canceled because it can't be focused on. Don't know why this happens and not in base Preference classes.

[2016-01-04 23:54] AnimbusDev commented on #25
@plusCubed Keep this issue open then. I will tinker around with it (you can add like a "postponed" tag)

So does this mean the new version is being released?

[2016-01-05 00:02] afollestad commented on #25
I work during the day (as a developer) so no, I haven't made any progress.

But great that you guys have made some progress.

[2016-01-05 02:26] afollestad opened #44 "Optional dependencies (only import dependencies when they're used)?"
I remember seeing that this was possible somewhere.

ATE imports CardView, the Support Design Library, my Material Dialogs library, etc.

For efficiency and space reasons, it would be better to only make users also depend on those libraries if they actually use them.

[2016-01-05 02:33] afollestad commented on #25
This, and probably https://github.com/afollestad/app-theme-engine/issues/44, are on the TODO list before I can release 0.7.0.

[2016-01-05 02:40] plusCubed commented on #44
http://stackoverflow.com/questions/25345804/optional-gradle-dependencies-for-maven-libraries - don't know if this is possible with jitpack's release

[2016-01-05 02:40] afollestad commented on #44
@plusCubed just saw that actually, didn't we do something with RecyclerView in Material Dialogs?

[2016-01-05 02:40] afollestad commented on #44
Not sure if we still do, but we did at one point

[2016-01-05 03:30] plusCubed commented on #44
@afollestad I don't recall doing such with the library... maybe just my memory though. I am finding a few plugins around for optional deps, but they all seem to just work with maven release.

[2016-01-05 05:24] plusCubed commented on #44
Aha, just remembered that this is a thing in the Evernote job scheduling library I'm using for Anticipate - https://github.com/evernote/android-job - with play services. It seems to just use `provided` instead of `compile`. Don't know if that'll work.

[2016-01-05 08:28] IlyaMyasoedov opened #45 "Animation when switching between light and dark themes"
Good day!!! Could you tell how i can customize the switch theme animation? For example fadeid / fadeout animations

[2016-01-05 12:23] AnimbusDev commented on #45
That isn't possible. (As far as I know)

[2016-01-05 16:56] afollestad commented on #45
Yeah, you can't animate Activity recreation

[2016-01-05 16:56] #45 closed

[2016-01-05 21:53] AnimbusDev commented on #25
@afollestad @plusCubed I did some reasearch and I figured out it is because of a few booleans, specifically `mCanRecycleLayout` and `mHasSpecifiedLayout` (The latter is only used pre-kitkat)

Now, these get set in a few places. Here is one:
[code]

Well, there is the reason. It also is set to false when you set a custom widget resource and a custom layout resource.

Now, when a switch animates, it

[2016-01-05 21:58] afollestad commented on #25
@AnimbusDev great, thanks for researching it! The StackOverflow link above actually mentions this, I just never got around to trying it

[2016-01-05 22:02] AnimbusDev commented on #25
@afollestad Right, but it doesn't work. (The stack overflow link.)

I have a feeling I'm getting pretty close though

[2016-01-05 22:02] AnimbusDev commented on #25
@afollestad YES! I fixed it!

[2016-01-05 22:09] afollestad commented on #25
@AnimbusDev awesome! How?

[2016-01-05 22:09] AnimbusDev commented on #25
@afollestad @plusCubed I have a piano lesson, but once its done I'll send the fix

[2016-01-05 22:23] plusCubed commented on #25
Ah, should've known to check in the base classes. Nice investigation! Pushing the fix.

[2016-01-05 22:31] #25 closed

[2016-01-05 23:01] afollestad commented on #25
@plusCubed @AnimbusDev thanks for the help guys!

0.7.0 is available now.

[2016-01-05 23:27] AnimbusDev commented on #25
@pluscubed May I ask why you are combining both fixes? They specifically stated that isVisible() **will** cause issues. Unless my fix doesn't work for switches, but it should.

[2016-01-05 23:36] plusCubed commented on #25
@AnimbusDev It doesn't - both fixes are needed for `SwitchCompat`. But you're right, `CheckBox` seems fine without it - removed & pushed.

[2016-01-06 08:36] jlelse opened #46 "Crash when using ATESwitchPreference"
[code]
I always get this Exception and I think I did everything like the sample.
I also check the key etc.

[2016-01-06 12:21] AnimbusDev opened #47 "Menu Theming and Collapsing Toolbar don't work together"
As the title says, the menu icon does not get themed until you collapse the CollapsingToolbarLayout.

[2016-01-06 15:59] MidsizeMango opened #48 "StatusBar Color Issue."
Even when status bar color is set, it gets theme color. Like the example below.

![screenshot_20160106-204246 1](https://cloud.githubusercontent.com/assets/9977126/12146868/216d69e6-b4bc-11e5-83ab-e32c7ce63eaa.png)

And if I set my custom color like:

[code]

...it crashes.

If I set `statusBarColor` programmatically, it doesn't apply the tinted color to it.

[2016-01-06 16:01] julian200601 commented on #46
@jlelse Could you post the xml?

[2016-01-06 16:02] afollestad commented on #48
I have no issues with this, I suspect your status bar color is getting overidden somewhere in your app.

The only way you could get a crash in `getStatusBarColor()` was if `note` is null.

[2016-01-06 16:03] julian200601 commented on #48
Could you post the post the error log?

[2016-01-06 16:06] MidsizeMango commented on #48
@afollestad  but it is working perfectly fine for
@Override
    public int getToolbarColor() {
        return note.getColor();
    }

[2016-01-06 16:07] MidsizeMango commented on #48
@afollestad @julian200601 How can i set statusbar color programmatically with tint??

[2016-01-06 16:09] afollestad commented on #48
@MidsizeMango `getStatusBarColor` is called by ATE before `onCreate()`, so your view isn't created yet.

[2016-01-06 16:09] afollestad commented on #48
@MidsizeMango read the documentation.

[code]

or

[code]

[2016-01-06 16:09] MidsizeMango commented on #48
@afollestad How can i set statusbar color programmatically with tint??

[2016-01-06 16:10] afollestad commented on #48
@MidsizeMango the answer to your re-posted comment is above.

[2016-01-06 16:11] MidsizeMango commented on #48
@afollestad Okay,Thanks.I will try.

[2016-01-06 16:11] #48 closed

[2016-01-06 16:21] MidsizeMango commented on #48
@afollestad  StatusBarColor is applied.But no tint to StatusBar?

[2016-01-06 16:30] afollestad commented on #48
@MidsizeMango there must be something not setup correctly in your app, you should read the documentation, and look at the sample project.

[2016-01-06 17:08] jlelse commented on #46
@julian200601

[code]

[2016-01-06 17:09] jlelse commented on #46
But there seems to be a bug in the layout of the ATE View

[2016-01-06 17:15] julian200601 commented on #46
@jlelse Why are you using "?ate_key" for all preferences but "default" at the last switch? Do you have configured "default"?

[2016-01-06 17:20] MidsizeMango commented on #48
@afollestad Thanks for the library and help. Found a different solution.

[2016-01-06 18:30] jlelse commented on #46
@julian200601 Yes I only used default as key but thanks, I forget to replace i with "?ate_key"

[2016-01-06 22:29] AnimbusDev commented on #47
@afollestad can you give an apk of the new sample? I have a feeling you misunderstood but cannot tell from the code.

[2016-01-06 22:31] afollestad commented on #47
@AnimbusDev (GIF)

![anglermmb29pafollestad01062016162710](https://cloud.githubusercontent.com/assets/1820165/12156805/c7f0f514-b492-11e5-9cf6-731d1d847d8e.gif)

[2016-01-06 22:34] AnimbusDev commented on #47
@afollestad You misunderstood, but that still looks awesome.

Then, can you give us a way to disable that? For example, if the CollapsingToolbarLayout's text color is transparent, use the toolbar's light mode (with support for the toolbar customiser)

[2016-01-06 22:36] afollestad commented on #47
@AnimbusDev there's no reliable way to do that, since the toolbar's background generally does not reflect the content that can be inside the expandable layout when it's expanded. The color has to be pulled from elsewhere.

[2016-01-06 22:37] afollestad commented on #47
E.g. if you were pulling from album art that was only visible when the layout is expanded.

[2016-01-06 22:39] AnimbusDev opened #50 "Search view theming broken when immediately expanded"
![screenshot_20160106-173719](https://cloud.githubusercontent.com/assets/11251606/12156979/42a3bffe-b49c-11e5-8b0d-1b39cd8ac528.png)
Here is the issue. It fixes if I exit the activity and return.(press home or multitasking and come back for example).

[2016-01-06 22:40] afollestad commented on #50
I've had no issues with this.

[2016-01-06 22:44] AnimbusDev commented on #50
@afollestad I think it's because I expand it instantly in on create. Her is my code: https://github.com/Substance-Project/GEM/blob/indev/mobile/src/main/java/com/animbus/music/ui/activity/search/SearchActivity.java

[2016-01-06 22:46] AnimbusDev commented on #47
@afollestad
Here is what I mean. An option to disable it. Otherwise use the toolbar light mode. Because now, my text is transparent (so it doesn't make the title be used twice) and it fades in as a scroll. The icons though, they would match the toolbar color (toolbar customiser sets color and light mode based on album art.) My issue was that if I set the toolbar to use light icons, the menu would

[2016-01-06 22:54] #47 closed

[2016-01-06 22:57] afollestad commented on #46
Unfortunately the log isn't enough to know what the cause is

[2016-01-06 23:00] AnimbusDev commented on #47
@afollestad Thanks! One last thing, overall, if in any customiser, can you make it that returning 0 or null uses the default? If you don't need to use something you can return 0/null

[2016-01-06 23:01] afollestad commented on #47
@AnimbusDev that's already done for task description icons, putting it everywhere else too is a good idea. Will do!

[2016-01-06 23:35] afollestad commented on #50
Even when expand the SearchView from `onCreateOptionsMenu` immediately, the text is fine. I only have an issue with the search icon (while expanded) in the light theme, so something obviously has to be fixed somewhere.

![affix_20160106_173417](https://cloud.githubusercontent.com/assets/1820165/12158007/cb69df5e-b49b-11e5-8083-629c471337b3.png)

[2016-01-06 23:39] AnimbusDev commented on #50
The issue only happens on a light theme dark primary configuration (just messed around)

If that doesnt work, try getting rid of anything else from the menu for
the time being. Just the search.

[2016-01-07 01:14] afollestad opened #51 "Font size tags"

[2016-01-07 01:14] afollestad commented on #51
Added

[2016-01-07 01:14] #51 closed

[2016-01-08 06:09] Jawnnypoo opened #52 "Cursor color does not change to the accent color properly."
![capture](https://cloud.githubusercontent.com/assets/1459320/12191540/b7bb77a0-b59b-11e5-8618-cae368328109.PNG)

As you can see here, the cursor color does not get updated on 4.4

I've got a little snippet here I used in a project:

[code]

I don't like that it uses reflection, but it does work. I hopefully can get around to making a pull request to fix this issue, just wanted to document it firs

[2016-01-08 06:43] Jawnnypoo opened #53 "Null Pointer Exception TabLayoutProcessor"
I got a crash when using the library. I performed no setup and just extended `ATEActivity` in the base class and received the crash, probably to do with the fact that

[code]

This is me using version 0.7.0 so it may no longer be an issue.

[2016-01-08 16:35] afollestad commented on #53
If you're using an `AppBarLayout`, the crash would make sense. It should be fixed now for the next release.

[2016-01-08 16:35] #53 closed

[2016-01-08 16:36] afollestad commented on #52
Thanks for the code, that's very helpful

[2016-01-08 16:36] Jawnnypoo commented on #53
Yes, I was indeed. Nice

[2016-01-08 16:40] #52 closed

[2016-01-08 17:11] Jawnnypoo commented on #44
Yes, the library you are talking about seems to do it correctly using `provided`. You can see in this file, the are checking to see if the app has provided the dependency:
https://github.com/evernote/android-job/blob/1d5a3ab2c53e8f976aba905f4e8f183b48438586/library/src/main/java/com/evernote/android/job/util/GcmAvailableHelper.java

So basically, the code you are looking for is this:
[code]
so tha

[2016-01-08 17:35] afollestad commented on #44
@Jawnnypoo more useful information from you 😁 thanks! I'll look into implementing this later today.

[2016-01-08 23:15] afollestad commented on #46
Just looking again at this now. Would you be able to get any further log data? It's very weird that I can't reproduce it.

[2016-01-09 14:09] PDDStudio opened #54 "ViewPager Edge Color not tinted"
Recycler and ListView tinting is working fine so far, however the ViewPager isn't tinting the overscroll colors

[2016-01-10 03:55] afollestad commented on #52
Just a tip, you might wanna modernize that code a bit:

[code]

Using `getResources().getDrawable()` causes warnings such as *"Drawable android:drawable/text_cursor_material has unresolved theme attributes!"* since it should be replaced with `ContextCompat.getDrawable()`. I also switched from using color filters to AppCompat's drawable tinting which is more backwards compatible.

[2016-01-10 03:56] #44 closed

[2016-01-10 03:59] #54 closed

[2016-01-10 04:07] afollestad commented on #50
@AnimbusDev not able to reproduce it with a dark primary color with the light theme either:

<img width="497" alt="screen shot 2016-01-09 at 10 07 12 pm" src="https://cloud.githubusercontent.com/assets/1820165/12219912/69a265a0-b71d-11e5-9f80-e0d3b545722a.png">

[2016-01-10 04:14] afollestad commented on #50
You may wanna try the latest code to see if it's been fixed somehow.

[2016-01-10 04:16] afollestad commented on #46
Since it works fine in the sample, I have a feeling it has something to do with an attribute set in your styles.xml file.

[2016-01-10 04:24] Jawnnypoo commented on #52
Nice! Thanks for the tip

[2016-01-10 05:09] afollestad commented on #54
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.5

[2016-01-10 05:09] afollestad commented on #53
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.5

[2016-01-10 05:09] afollestad commented on #47
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.5

[2016-01-10 05:09] afollestad commented on #44
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.5

[2016-01-10 05:09] afollestad commented on #43
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.5

[2016-01-10 05:09] afollestad commented on #39
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.5

[2016-01-10 05:12] AnimbusDev commented on #50
@afollestad And I cannot reproduce that search icon... Are you expanding it the same way I am in my code? Also, I will try the new update when I have a chance (tomorrow probably)

[2016-01-10 05:20] AnimbusDev commented on #50
@afollestad I just went through to the android:theme and set it to what you have in the sample.

Now it happenes whenever the primary is light with any base

[2016-01-10 06:43] afollestad commented on #50
The only cause I can think of is if you were using the stock `SearchView` (`android.widget.SearchView`) rather than the support SearchView included with AppCompat.

[2016-01-10 12:34] PDDStudio opened #55 "Add Tag for Edge Colors"
Would be cool to have a custom tag to set the edge colors of any kind of view that produces them.

[2016-01-10 12:36] PDDStudio commented on #54
@afollestad you're fast man, thanks! I'll report back in case I found a bug.

[2016-01-10 13:29] PDDStudio opened #56 "0.7.5 release crash issue"
Upgrading from v 0.7.0 to 0.7.5 - nothing else has changed (only the library version in the gradle file)

When assembling and running the debug app it crashes on the MainActivity's onCreate().

**Exception:**
[code]

Downgrading to 0.7.0 works again without any problems. Tested it with normal TextView and ATE's PrimaryTextView, both are throwing the same exception.

[Paste of the complete error](h

[2016-01-10 17:37] afollestad commented on #56
There must be an attribute or attribute value being used in your app/XML
that causes the error

On Sun, Jan 10, 2016, 7:29 AM Patrick J <notifications@github.com> wrote:

--

Regards,

Aidan Follestad
http://aidanfollestad.com
651-528-1662

[2016-01-10 18:47] #55 closed

[2016-01-10 18:48] afollestad commented on #56
It looks like the important part of that log is:

[code]

So there must be an attribute you change in your app which for whatever reason is not compatible.

[2016-01-10 18:53] #46 closed

[2016-01-10 19:22] jlelse commented on #46
Ok thx I will check again

[2016-01-10 19:46] afollestad commented on #56
Since this log doesn't take place inside of this library and I can't reproduce it, I'm closing the issue

[2016-01-10 19:51] afollestad commented on #50
Nevermind, even with `android.widget.SearchView`, it works fine for me.

[2016-01-10 20:13] afollestad commented on #55
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.6

[2016-01-10 20:38] julian200601 opened #57 "Add tag to disable theming"
I have a fragment tag inside my layout which is themed with the activity but I don't want it to be themed. What about a "ate_disabled" tag for example? Or is there any other method?

[2016-01-10 21:21] PDDStudio commented on #56
The question is what exactly is causing this bug? 0.7.0 is working fine, when updating to 0.7.5 it's crashing, so I has to be bug in the library

[2016-01-10 21:25] julian200601 commented on #56
@PDDStudio post the xml

[2016-01-10 21:29] afollestad commented on #57
A Fragment in your Activity is themed from the Activity? That shouldn't be possible since the Fragment is not a view itself.

[2016-01-10 23:02] #57 closed

[2016-01-11 02:08] julian200601 opened #59 "TabLayout text color issue"
If you don't have any tab Text tags on a TabLayout,  isColorLight()  in TabLayoutProcessor isnt being checked, only if you have  "bg_primary_color" on the AppBarLayout, too. This ends up like this (sample):
![screenshot_20160111-025904](https://cloud.githubusercontent.com/assets/14248102/12225693/47d40afc-b810-11e5-8557-85d33c289f25.png)

[2016-01-11 03:50] #59 closed

[2016-01-11 04:14] AnimbusDev opened #60 "0 is returned by many values and breaks some customizers"
So with the new returning 0 to disable a customiser, I realised Color.BLACK always returns 0, disabling the customiser. So this value (the one that disables the customiser) needs to be changed to -1. Also, things like status bar customiser glitches, because 0 is auto, and 0 disables.

[2016-01-11 04:15] afollestad commented on #60
If I remember correctly, there are some colors representations in Java that are less than 0. So I don't think using -1 is safe for that.

[2016-01-11 04:19] AnimbusDev commented on #60
@afollestad You can define a variable in ATE.javajava to be used and have it be some crazy random negative number. If any issues come up, you can just change it.

[2016-01-11 04:21] Jawnnypoo opened #61 "Navigation Drawer Tinting Mistake"
It seems as though the navigation view selected color state is following the themes accent color, but according to the material guidelines, it should be the themes primary color, matching the toolbar:
https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-content

I know it is kinda nitpicky, I just wanted to see if you had done this intentionally.

[2016-01-11 05:10] Jawnnypoo opened #62 "Not Processing AppBarLayout"
It seems as though normal AppBarLayouts are not processed and are only being processed if the toolbar is a collapsing toolbar. I am using an AppBarLayout to hold a toolbar along with a TabLayout, and AppBarLayout is not being processed. Or possibly the TabLayout is not getting processed. Looks a little something like this:

![screenshot_2016-01-10-21-09-49](https://cloud.githubusercontent.com/asse

[2016-01-11 05:12] Jawnnypoo commented on #62
And you can find the layout xml here if it is of any help:
https://gitlab.com/Commit451/GitLabAndroid/blob/master/app/src/main/res/layout/activity_project.xml

[2016-01-11 06:01] PDDStudio commented on #56
@julian200601 I'll attach the xml as soon as I'm on my pc. Even tho this shouldn't be the problem, all I'm using are default Android kv attributes

[2016-01-11 11:42] AnimbusDev opened #63 "Solution to #61, Kinda @attr/ for ATE"
Can you give us a way to return something like ATE.ACCENT or ATE.PRIMARY to use the value from the ATE accent/ATE primary respectively?

In #61's case, it could be used in the case where, when setting the drawer selected text/icon using ATE.config(), you can pass ATE.PRIMARY and it will use the PRIMARY color. This could reduce the number of tags in some cases

[2016-01-11 15:00] afollestad commented on #63
There are already static methods in `Config` used for value retrieval.

[2016-01-11 15:31] julian200601 commented on #63
@AnimbusDev  You can retrieve config values as @afollestad wrote like:
Config.primaryColor(Context context, String key); //returns the current primary color from the key's configuration

[2016-01-11 16:44] #63 closed

[2016-01-11 18:51] afollestad commented on #62
Why exactly are you using `AppBarLayout` there? It has no use, your layout would look the same if you took the `AppBarLayout` out, since you're not using a `CoordinatorLayout`.

You should set a background tag to the TabLayout like the sample project does.

[2016-01-11 18:55] afollestad commented on #60
@AnimbusDev it actually looks like almost *all* colors are negative in Java: http://developer.android.com/reference/android/graphics/Color.html

So we might actually need to use the max positive value of an Integer.

[2016-01-11 18:57] #61 closed

[2016-01-11 19:00] afollestad commented on #60
But I'm not 100% sure about that.

[2016-01-11 19:04] #62 closed

[2016-01-11 19:05] afollestad commented on #60
Also, you should return the `Config` constants for the light mode methods. Not doing so should give you a warning anyways, since they are IntDefs.

[2016-01-11 19:11] AnimbusDev commented on #61
@afollestad Can you please revert this? Most people use accent, so you are making a majority do more work (config, change the accent color, commit, config, change the navigation view to the recently applied accent color, apply).

One person that uses primary, they can do all that

[2016-01-11 19:12] afollestad commented on #61
@AnimbusDev no, I'd prefer using Material Design Guidelines values as default.

You can set the accent color in your default configuration if you want to use that.

[2016-01-11 19:14] AnimbusDev commented on #61
@afollestad Right, but every time you set the accent color you need to change, then commit, then change again, then apply (that's why I suggested the like attr thing, so when commuting it takes the value of accent)

[2016-01-11 19:15] afollestad commented on #61
@AnimbusDev why would you need to do that?

You set it the first time your app launches. The theme engine doesn't apply until `onStart()` (after `onCreate()` is executed).

[2016-01-11 19:16] afollestad commented on #61
Configuration upgrades are also possible using the variation of `isConfigured()` that takes an integer, if there are already previous defaults setup.

[2016-01-11 19:42] afollestad opened #64 "Sample crash issue from Google Play report, caused by ATESwitch"
[code]

It happens on 5.0/5.1 devices, including the Moto X, ZenFone 2, and Yureka (whatever that is).

[2016-01-11 19:43] afollestad commented on #46
@jlelse I think someone else had the same issue, but this is a bit more detailed:

https://github.com/afollestad/app-theme-engine/issues/64

[2016-01-11 19:44] afollestad commented on #64
Any idea what would cause this? @plusCubed @AnimbusDev

I'm gonna look more into it when I'm not at work.

[2016-01-11 19:46] AnimbusDev commented on #64
@afollestad a ViewParent is null somewhere.

[2016-01-11 19:48] AnimbusDev commented on #62
@afollestad AppBarLayout adds a proper toolbar shadow (even pre LP)

[2016-01-11 19:49] afollestad commented on #62
@AnimbusDev good to know! I might have to use that in some of my apps.

I've added support for it anyways with the commit that closed this issue.

[2016-01-11 20:04] Jawnnypoo commented on #62
Yes, the shadow is the reason I was using it. Thanks for the quick fix!

[2016-01-11 20:09] AnimbusDev commented on #60
@afollestad I do return the config constants. The issue is one of the constants _is_ 0...

[2016-01-11 20:10] afollestad commented on #60
@AnimbusDev I'd change it, but it'd break apps that already have that configuration value set (since they're stored in shared preferences). It shouldn't be that much of an issue though.

[2016-01-11 20:11] AnimbusDev commented on #60
@afollestad changing 0 to the Max int would fix that anyways...

[2016-01-11 21:51] julian200601 commented on #62
@Jawnnypoo  you can use app:elevation="" , which provides backwards compatibility, too.

[2016-01-11 21:54] Jawnnypoo commented on #62
@julian200601 on the Toolbar widget? Did not know that, thanks!

[2016-01-11 21:58] julian200601 commented on #62
@Jawnnypoo on any view

[2016-01-11 22:10] Jawnnypoo commented on #62
Hmmm. I don't think that is quite true. Maybe it would work on 5.0+ and do nothing on the rest

[2016-01-11 22:15] julian200601 commented on #62
@Jawnnypoo you can believe me :)

[2016-01-11 22:32] afollestad commented on #64
@AnimbusDev the weird thing is that this code is identical to the sample project in the repo here, and it doesn't crash on my Nexus 5X, Nexus 6P, or Nexus 9. It doesn't crash for you, right?

[2016-01-11 23:02] afollestad commented on #62
Yeah I'm pretty sure `app:elevation` just avoids the Lint warning, but doesn't actually do anything pre-Lollipop 😉

[2016-01-11 23:20] afollestad commented on #60
Removed use of 0 for the light mode constants in the last commit (referencing this issue).

---

I've confirmed that Android colors are negative, I'm not sure if any are positive at all:

<img width="624" alt="screen shot 2016-01-11 at 5 18 22 pm" src="https://cloud.githubusercontent.com/assets/1820165/12249781/908b9a04-b887-11e5-83a8-bf8f5879ae08.png">

[2016-01-11 23:25] julian200601 commented on #62
@afollestad  really? Wouldn't FloatingActionButton not have a shadow below lollipop then, too?

[2016-01-11 23:27] AnimbusDev commented on #62
@jullian200601 it uses the same thing as appbar layout. ViewCompat.setElevation()

[2016-01-11 23:31] julian200601 commented on #64
@afollestad  but yours are running 6.0.x aren't they? It doesn't crash on my GS6 running cm 6.0.1 also... And what the heck is ActionBarOverlayLayout? Never heard of that before...

[2016-01-11 23:32] afollestad commented on #64
@julian200601 yeah, they all have 6.0.1 😁

When you use `setSupportActionBar(Toolbar)`, it puts the Toolbar inside that, I believe.

[2016-01-11 23:37] julian200601 commented on #62
@AnimbusDev but how does it have elevation pre-L?

[2016-01-11 23:39] AnimbusDev commented on #62
@julian200601 It draws out the shadow an alternative way using padding and such. Then it renders a gradient based on the float you give for the elevation

[2016-01-11 23:40] julian200601 commented on #62
@AnimbusDev didn't know that, thanks!

[2016-01-12 02:34] afollestad commented on #64
I'll have to look into this more tomorrow, this is kind of a high priority crash.

[2016-01-12 02:35] afollestad commented on #50
I'll be closing this tomorrow if no further problems are reported

[2016-01-12 02:39] AnimbusDev commented on #50
@afollestad I have no idea why it is like this. It just is, when I resume the activity it themes properly

[2016-01-12 11:21] julian200601 commented on #64
@afollestad I'll downgrade one of my services to 5.1.1 and look if I get the issue, too.

[2016-01-12 12:18] kabouzeid commented on #61
I agree with Aidan (afollestad) here, Material Design Guidelines should be the default.

[2016-01-12 14:17] julian200601 commented on #64
@afollestad No issue on my LG G Pad 8.3 running latest cm nightly (5.1.1)

[2016-01-12 19:01] afollestad commented on #64
Yeah this crash really makes no sense at all

[2016-01-12 19:31] afollestad commented on #64
I found the problem: https://github.com/android/platform_frameworks_base/blob/master/core/java/android/view/View.java#L5839

Since we override `isShown()` in `ATESwitch` for recent preference animation workarounds, code gets run that shouldn't (*yet*).

@plusCubed @AnimbusDev

[2016-01-12 19:32] afollestad commented on #46
@jlelse not sure if you're still trying to implement this library or not after all this time, but I believe I've found a solution in #64 that I'll be attempting to implement.

[2016-01-12 19:39] #64 closed

[2016-01-12 19:39] afollestad commented on #64
I believe I fixed it.

[2016-01-13 01:17] afollestad commented on #64
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.7

[2016-01-13 01:17] afollestad commented on #46
https://github.com/afollestad/app-theme-engine/releases/tag/0.7.7

[2016-01-13 13:10] jlelse commented on #46
Thanks!

[2016-01-13 17:13] julian200601 opened #65 "A way to ignore Toolbar overflows (e.g. using ate_ignore?)"
Toolbar's overflow icon is always tinted even if it or a parent has the "ate_ignore" tag because the tint is applied to all toolbar overflow icons in the Activity. I post this as issue because I have no idea of an alternative way to to tint it.

[2016-01-13 17:19] AnimbusDev opened #66 "CollapsingToolbarLayout customizer breaks fade animation"
Title speaks for itself. Won't fade properly

I will upload a video as soon as I can

[2016-01-13 19:16] PDDStudio commented on #56
Seems like 0.7.6 fixed it, it's working fine now

[2016-01-13 19:17] afollestad commented on #56
0.7.7 is the latest 😉but great!

[2016-01-13 19:17] #56 closed

[2016-01-14 11:56] PDDStudio commented on #56
@afollestad yeah I know, i mean it's working again since +0.7.6 😀

[2016-01-17 21:28] afollestad commented on #60
Closing this since there's not really good solution for this. You should just avoid returning 0 and use the `Config` static methods where you want defaults to be used.

[2016-01-17 21:28] #60 closed

[2016-01-17 21:30] AnimbusDev commented on #60
@afollestad There was a valid solution to this already...

Just have a stitic int (ATE.IGNORE_CUSTOMIZER) be the Max int value. Then just have it check for that instead of 0. Problem solved

[2016-01-17 21:31] afollestad commented on #60
That's not necessarily a safe solution, and that's really not that much more work than returning a Config method value.

[2016-01-17 21:33] AnimbusDev commented on #60
What? No but black is 0, and black is used a ton more then you expect. Really, this causes a lot of issues in my app, and I really doubt that there is a color that is the Max int (most are negative)

[2016-01-17 21:39] afollestad commented on #60
https://github.com/afollestad/app-theme-engine/commit/02694a17ec6acebbd25aa6806d997de4b586e3e0

[2016-01-17 22:14] afollestad commented on #65
This won't be able to be done through tags, since the code doesn't actually use the `Toolbar`'s themselves to apply tinting. It's done through this: https://github.com/afollestad/app-theme-engine/blob/master/library/src/main/java/com/afollestad/appthemeengine/util/Util.java#L97

So it might be more practical to have a customizer or something which can disable overflow tinting on a per-Activity bas

[2016-01-17 23:09] julian200601 commented on #65
@afollestad That's what I meant. Would it be possible to have for example an ATEOverflowItem to use in a menu resource which was just a Menuitem using ic_more_vert as standard where key, tinting y/n and default color are provided as styleable? I'll try that out tomorrow

[2016-01-17 23:17] afollestad commented on #65
I'd rather avoid that too, that's a lot of logic to manually add and keep up to date over time.

[2016-01-17 23:20] kabouzeid commented on #60
@afollestad all integers represent a color. 32 bit in hexadezimal 0x00000000 - 0xFFFFFFFF
(AA RR GG BB). Because you've only tried opaque colors the very left bit (which is used for the sign when interpreting the bits as a number) is set to 1 which means minus. Actually 0 isn't black but transparent. Black would be FF000000 -> some negative number as well. Everything with alpha > 7F (127) will be

[2016-01-17 23:23] afollestad commented on #60
@kabouzeid thanks for the info! I had forgotten most of what I had memorized about hexadecimals 😁

[2016-01-17 23:28] julian200601 commented on #65
@afollestad Not sure what you mean

[2016-01-24 12:35] TR4Android opened #70 "Support for TextInputLayout"
Currently there is no support for the `TextInputLayout` which leads to a wrong hint text color. It would be nice if you could support for this as well, as it's a commonly used component from the support libraries.

[2016-01-25 17:01] TR4Android opened #72 "Improve Toolbar processor"
Currently there are two things that don't seem to be properly processed with the Toolbar:
- [x] Toolbar subtitle
- [x] Toolbar menu items that only have text

Here's a screenshot if it's of any help to you:
![20160125_175930](https://cloud.githubusercontent.com/assets/10142068/12557945/7c8d6a4e-c38d-11e5-84bb-1d8150b4ea62.png)

Thanks for the great work!

[2016-01-25 17:44] TR4Android opened #73 "Improve TextView/EditText theming"
I'm currently lacking two customization tags for my EditText:
- [ ] Tag that tints the EditText line in its base state
- [x] Tag that sets the hint text color (e.g. `text_hint_primary_dependent`)

Here are two screenshots (the first showing the EditText in its base state, the second after entering text):
![20160125_184204](https://cloud.githubusercontent.com/assets/10142068/12559118/6dd305ee-c393-

[2016-01-25 17:45] afollestad commented on #72
Thanks for the feedback, it's all very helpful.

Also, I didn't know GitHub had a tasks function, that's awesome.

[2016-01-25 18:06] TR4Android opened #74 "Support for (AppCompat)Spinner"
The title pretty much says it, I'm lacking support for the `AppCompatSpinner` in my `Toolbar` which leads to the following:

![20160125_190523](https://cloud.githubusercontent.com/assets/10142068/12559658/a4f9447c-c396-11e5-886d-81d88124622f.png)

It should probably reuse the `text_???` tags and also apply the color to the dropdown triangle.

[2016-01-25 18:08] afollestad commented on #74
I can add support for the dropdown arrow, but generally you'll need to apply theming to views in the adapter the spinner item text.

[2016-01-25 18:13] TR4Android commented on #72
@afollestad Sure :smile: I'm sorry that I'm flooding you with issues now, but those just came up while migrating an app to your (very helpful) app theme engine.
The tasks even show up in the issue overview, I've come to love them.

*PS: Have you considered implementing a custom [`LayoutInflatorFactory`](http://developer.android.com/reference/android/support/v4/view/LayoutInflaterFactory.html). I t

[2016-01-25 18:22] TR4Android commented on #74
@afollestad Yes, that is correct. I can't think of any way to apply those to the standard list item, so I'd just be happy with the dropdown arrow :+1:

[2016-01-25 18:32] kabouzeid commented on #72
_Offtopic_
@TR4Android is this a GitHub app in the screenshot?

[2016-01-25 18:53] TR4Android commented on #72
@kabouzeid No, it's the [LabCoat for GitLab](https://gitlab.com/Commit451/LabCoat) application I'm currently working on :smiley:

[2016-01-27 02:07] afollestad opened #75 "Menu tinting can now be done directly from the inflation interceptor"
The Inflation Interceptor picks up on `ActionMenuItemView`, and even the overflow list (`ListMenuItemView`) and its widgets inside.

[2016-01-27 02:22] afollestad commented on #72
Good idea with using a `LayoutInflaterFactory`, I have it completely integrated with the library now. Fixing a few minor bugs, and then I'll implement your requests.

[2016-01-27 03:39] #66 closed

[2016-01-27 03:44] afollestad commented on #72
All the `LayoutInflaterFactory` code is now on GitHub.

I've added Toolbar subtitle tinting. For the MenuItem text color, that may have to come with this: https://github.com/afollestad/app-theme-engine/issues/75

[2016-01-27 03:47] afollestad commented on #70
I'll have to investigate internal class fields for `TextInputLayout` since it doesn't expose anything for directly setting colors. Luckily reflection is used almost everywhere already.

[2016-01-27 08:08] TR4Android commented on #72
@afollestad Cool, good to hear :thumbsup: Thanks for all the work you are putting into this!

[2016-01-27 17:41] afollestad commented on #75
@plusCubed I thought you might think this is cool, it could be good to know for future projects.

[2016-01-27 17:50] MidsizeMango opened #76 "ATE Switch Force Stop on some devices"
[code]

[2016-01-27 17:51] afollestad commented on #76
This has already been fixed in the code.

[2016-01-27 17:51] #76 closed

[2016-01-27 17:57] MidsizeMango commented on #76
Okay..I will check it out.Some users are reporting that while going into settings my app force stops.

[2016-01-27 17:58] afollestad commented on #76
Yes, the library is being completely re-designed right now but a new release should be ready soon.

[2016-01-27 18:01] MidsizeMango commented on #76
I think I am probably using 0.7.0..coz after upgrading.my app is giving error for  ColorChooserDialog class .

[2016-01-27 18:07] afollestad commented on #75
Implemented, working out some bugs and cleaning up stuff before I push

[2016-01-27 18:07] #75 closed

[2016-01-27 18:13] afollestad commented on #72
@TR4Android glad to be of help!

Using a inflater factory turned out to be a genius decision; I was able to remove tons of code that was used for theming menu icons and overflows since all of those views get intercepted along the way.

[2016-01-27 18:15] afollestad commented on #72
Wow, it even intercepts views in dialogs. This is crazy.

[2016-01-27 18:20] afollestad commented on #76
Your app needs to include Material Dialogs as a dependency if you use the preference classes or Color Chooser.

https://github.com/afollestad/material-dialogs/

[2016-01-27 19:02] afollestad commented on #72
Both of the original tasks of this issue are done and pushed.

[2016-01-27 19:02] #72 closed

[2016-01-27 19:58] TR4Android commented on #72
@afollestad I'm glad I could be of help as well :smiley:

[2016-01-27 19:59] afollestad commented on #74
I think this will require another new tag, which will be useful anyways.

Something like `tint_background_parent_dependent`, which will see the background color of the parent view and tint black or white accordingly. Also a primary dependent tag for this.

[2016-01-27 20:16] afollestad commented on #74
I should note, you can just add a `text_primary_inverse` tag to your Spinner item layouts and it will work without any changes to your adapter. At least with the new inflater factory stuff.

[2016-01-27 20:19] TR4Android commented on #74
@afollestad Now that you're restructuring a large part of the library might be a good time to review all the tags. I find a few of their names confusing (such as the similiarity of `text_primary_dependent` and `text_primary_color_dependent`). Might I suggest a new way that more closely resembles what the tags actually do:
The general structure of a tag would be `field|value` which can be still be

[2016-01-27 20:19] afollestad commented on #74
Good idea! Thanks

[2016-01-28 03:21] afollestad commented on #74
I've added the new tag system, which uses extensible tag processors similar to the view processors.

I've also added support for Spinners, along with many other view types that weren't supported before.

[2016-01-28 03:21] #74 closed

[2016-01-28 03:22] afollestad commented on #50
This is probably fixed in the newer code since inflater factories are used instead of looping over already inflated views.

[2016-01-28 03:22] #50 closed

[2016-01-28 08:04] TR4Android commented on #74
@afollestad Awesome! Thanks.

[2016-01-28 13:42] MidsizeMango commented on #76
@afollestad I have already added Material Dialogs.

[2016-01-28 17:43] Jawnnypoo commented on #73
I was wondering why this app looked familiar :wink:

[2016-01-28 19:04] afollestad opened #77 "Minor enhancements/fixes to new code"
The library has been restructured to use a `LayoutInflaterFactory` rather than looping over existing views. The tag framework has also been redone. (the documentation isn't updated yet)

- [x] Close icon in SearchViews isn't tinted. `SearchView` processor isn't called.
- [x] Tags for theming for `TabLayout`'s.
- [x] Tags for theming edge glow (in scrollable views).

Other tasks will be added if ne

[2016-01-28 19:05] afollestad opened #78 "Fragment support"
I need to find a way to set a `LayoutInflaterFactory` to a `Fragment`. It currently doesn't work, since they don't operate the same way an `Activity` does.

[2016-01-28 20:23] afollestad commented on #78
Nevermind, it looks like it's covered by the Activity-level inflater factory

[2016-01-28 20:23] #78 closed

[2016-01-28 20:33] afollestad commented on #72
I had to change the logic for the text-only menu items. It's not safe to set their text color since there's a chance they could go into the overflow menu and have a background different than the toolbar.

[2016-01-28 21:33] #77 closed

[2016-01-28 22:45] #70 closed

[2016-01-28 23:54] afollestad opened #79 "Instead of using post inflation views, parents could be passed directly from the factory to the processors?"
Since theming is done during initial inflation, views do not have any parents yet.

Using post inflation views doesn't work in some areas (e.g. detecting if an EditText baseline should be white or dark gray based on the parent background).

[2016-01-29 00:01] afollestad commented on #73
Regarding a tag for the underline, I tried to some different ways of doing that and none of them are too reliable since they would rely on other tags also being present.

The best solution I've come up with is to determine whether or not a dark/light base line should be used based on the immediate view background or parent view background, falling back to the window background if those are both nu

[2016-01-29 00:01] #73 closed

[2016-01-29 00:02] afollestad opened #80 "Default tags"
Views such as EditTexts should have default tags, even if the user specifies their own.

For an example, a user could specify text color tags, but not tint tags. We would still want to default to using accent tinting.

[2016-01-29 00:15] afollestad commented on #73
The behavior above won't fully work until https://github.com/afollestad/app-theme-engine/issues/79 is done.

[2016-01-30 05:34] afollestad commented on #79
Decided against this.

[2016-01-30 05:34] #79 closed

[2016-01-30 07:51] afollestad commented on #80
Done

[2016-01-30 07:51] #80 closed

[2016-01-30 07:52] afollestad opened #81 "Default tags for tabs and scrollable views"
Now that default tags are implemented and working, I need to implement these for TabLayouts and scrollable views so they can use tag processors rather than processing tags themselves from view processors.

[2016-01-30 20:13] afollestad commented on #81
Done

[2016-01-30 20:57] #81 closed

[2016-01-30 21:21] afollestad commented on #74
All the changes for this release should be done!

It just needs testing now, and I gotta re-write the README.

[2016-01-30 22:54] TR4Android commented on #74
Cool, I'll help with testing as soon as I can.

[2016-01-31 05:27] #65 closed

[2016-02-01 14:53] TR4Android commented on #73
@afollestad Just checked with the current code, but the baseline is still not properly colored. Any special tag I need to apply?

[2016-02-01 20:37] afollestad commented on #73
@TR4Android you need to use the `parent_dependent` tag in order for it to work in the case above.

This is what it looks like in action in the sample project (under "Misc" in the nav drawer):

![screener_20160201 14-36-42](https://cloud.githubusercontent.com/assets/1820165/12730366/4a10bf6c-c8f1-11e5-84a8-21ef68a79be3.png)

It sees the darker background of its parent. This should also work with yo

[2016-02-01 21:41] TR4Android commented on #73
@afollestad Oops, I could have just checked the sample code, how embarrassing. Thanks a lot!

[2016-02-01 23:35] afollestad commented on #73
You're welcome!

[2016-02-01 23:40] afollestad opened #82 "Final issue before a release: CollapsingToolbarLayout issues"
See the sample project.

When scrolling, the navigation bar icon, action bar icons, and overflow icons should change in color to match the color of the expanding title.

I did some logging, and the code that changes color is executed. For some reason the changes aren't seen visually.

[2016-02-02 02:36] AnimbusDev commented on #82
@afollestad Can you build the sample and give an apk? I am currently living without functional computers

[2016-02-02 08:24] PDDStudio opened #83 "CollapsingToolbarLayout parallax not working"
When using CollapsingToolbarLayout and an ImageView inside it, the parallax effect doesn't work anymore. Setting `android:tag="ate_ignore"` at the CollapsingToolbarLayout the parallax effect is working again but the colors aren't changed anymore (ofc this is obviously because of the ignore tag, but this is how I was able to check where this bug comes from)

[2016-02-02 14:46] afollestad commented on #83
Duplicate of an open issue

Btw, embrace yourself for the upcoming release. The entire library is restructured and uses a different method of applying.

[2016-02-02 14:46] #83 closed

[2016-02-02 15:47] PDDStudio commented on #83
@afollestad I saw the open issue but as because it's not the complete same kind of bug I decided to open a new one. Thanks anyways, is there an ETA for the new version yet?

[2016-02-02 15:49] afollestad commented on #83
Whenever that other issue is solved 😉

[2016-02-03 03:27] Jawnnypoo opened #84 "Leaking Activities"
Hey there,

Working on using app-theme-engine in [LabCoat](https://gitlab.com/Commit451/LabCoat). Right now, in our debug builds, we are using [LeakCanary](https://github.com/square/leakcanary), and we are getting leaks in almost every activity right now.
![capture](https://cloud.githubusercontent.com/assets/1459320/12771978/1a936b6a-c9f3-11e5-95c2-fac4396b7a0a.PNG)
All of the tracked leaks so far

[2016-02-03 03:50] Jawnnypoo opened #85 "Use code generation instead of subclassing"
This is a very general issue, but I wanted to make a suggestion. This library relies on the end user subclassing an activity in order to get the theming. Have you considered looking into a system similar to [butterknife](https://github.com/JakeWharton/butterknife) for performing the theming? I think that code generation would greatly improve this library, making it more efficient in many ways. Sim

[2016-02-03 03:51] afollestad commented on #85
I'm not sure if you're up to date with how the non published version of this library works or not. But the next release won't loop over existing views, it will catch them during inflation. So this issue won't really apply.

[2016-02-03 03:51] #85 closed

[2016-02-03 03:54] Jawnnypoo opened #86 "Add docs for creating a ViewProcessor"
It seems really cool that you are able to register your own ViewProcessors in ATE. Seems very similar to cases like Gson where you need to register a custom deserializer for certain classes. It would be great to have an example either in the README or the sample on how to create a ViewProcessor so that people understand that they can solve the problem of a view not getting tinted properly themselv

[2016-02-03 04:05] afollestad commented on #86
I'll be rewriting the entire documentation soon since the next release is so different.

There will also be tag processors.

[2016-02-03 04:05] #86 closed

[2016-02-03 23:04] kabouzeid opened #87 "R.style values can CHANGE when new resources are added."
Currently the theme is stored as the integer of its R.style. . When the user adds new resources the ids can change. This will cause serious graphical artifacts or force closes. Just happened to me, so this is nothing just theoretical.

[2016-02-04 00:19] afollestad commented on #87
Yeah, I've thought about possible solutions to this but don't have any good solutions yet.

[2016-02-04 05:43] #84 closed

[2016-02-04 05:43] afollestad commented on #84
Good catch, thanks

[2016-02-04 07:19] kabouzeid commented on #87
There are only two solutions I see

1. the theme have to be stored as a string and the user would have to register a decoder which receives the string later and returns the theme res.

2. Store the theme as a String like "R.style.mytheme". ATE could use some kind of reflection then to receive the theme. (I believe there are even framework classes to receive the name of a res and getting a res by i

[2016-02-04 14:31] Jawnnypoo commented on #87
`getResources().getResourceName(R.style.whatever)` is what you are looking for

[2016-02-04 23:20] kabouzeid commented on #87
Yeah, that sounds perfect :)

[2016-02-04 23:23] kabouzeid commented on #87
The issue with the second solution however is that it isn't refactoring save.

[2016-02-07 11:06] TR4Android commented on #73
@afollestad Ok, everything seems to be working fine after migrating to the latest `master` version, but I would prefer it if the focused state of the `parent_dependent` tag would still be the accent color. Could you maybe switch the current behaviour or add a new tag? That would be awesome!

[2016-02-07 11:10] TR4Android commented on #73
Also, `AutoCompleteTextView` and `AppCompatAutoCompleteTextView` don't seem to be properly supported yet. This should be easy though as it's basically just the same code as `EditText` (including the `TextInputLayout` handling).

[2016-02-09 06:52] MFlisar commented on #87
Refactoring problem can be easily solved via proguard setup...

[2016-02-10 19:22] #87 closed

[2016-02-10 19:22] afollestad commented on #87
The latest commit should do it, I haven't tested it yet though

[2016-02-10 19:24] afollestad commented on #82
This is the last thing before a release now.

Any ideas, @kabouzeid?

[2016-02-10 19:29] kabouzeid commented on #82
@afollestad I'll look into that now, maybe I'll be lucky.

[2016-02-10 20:14] kabouzeid commented on #82
I think I've found the bug, give me some more time to fix it :)

[2016-02-10 22:23] afollestad commented on #82
The issues still seem to be there unfortunately

[2016-02-10 22:25] afollestad commented on #82
It's not always the same problem either, it's pretty random actually.

Sometimes the navigation icon, action buttons, and overflow button don't get updated. Not all of them are always affected either.

[2016-02-10 22:34] kabouzeid commented on #82
Weird, it's working 100% of the time for me. Have you tried uninstalling the app and then reinstalling. Instant run sometimes mess with my builds.

[2016-02-10 22:40] julianostarek commented on #82
@kabouzeid Could you just share an apk? I'm currently unable to build it myself...

[2016-02-10 22:56] afollestad commented on #82
Odd, now it works.

Thanks!

[2016-02-10 22:56] #82 closed

[2016-02-10 22:56] afollestad commented on #82
Just have to type up the new documentation after I eat, and the release will go live.

[2016-02-10 23:15] julianostarek commented on #82
Nice!

[2016-02-10 23:21] kabouzeid commented on #82
@julianostarek were you able to compile now?

[2016-02-10 23:28] julianostarek commented on #82
@kabouzeid No problem with that, there's currently no PC around me:)

[2016-02-11 00:46] AnimbusDev commented on #82
@kabouzeid Can you still compile? I don't have a single computer around me for the next few days (dang banks and their processing donations) so I cannot compile myself

[2016-02-11 02:28] afollestad commented on #87
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:29] afollestad commented on #85
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:29] afollestad commented on #59
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:29] afollestad commented on #66
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:29] afollestad commented on #74
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:29] afollestad commented on #76
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:30] afollestad commented on #83
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:30] afollestad commented on #39
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:30] afollestad commented on #41
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:30] afollestad commented on #46
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:30] afollestad commented on #37
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:30] afollestad commented on #6
https://github.com/afollestad/app-theme-engine/releases/tag/1.0.0

[2016-02-11 02:57] Jawnnypoo commented on #85
Ahhh nice. Congrats on the 1.0, looking forward to diving in and taking a look

[2016-02-11 07:15] julianostarek opened #89 "Not working with AppCompat Views"
ClassCastException when using AppCompat Views. This isn't really an issue but should be noted in the docs.

[2016-02-11 07:17] julianostarek opened #90 "ate_ignore with ViewGroups in 1.0"
For me, ATE ignores the ignore tag (:D) in ViewGroups and continues processing all the childs.

[2016-02-11 07:54] julianostarek opened #91 "Fragments and the statusbar in 1.0"
fragment inflation resolves in the statusbar color being set directly and not to the DrawerLayout's statusbar background.

[2016-02-11 09:10] jlelse commented on #46
Nice update

[2016-02-11 10:35] jlelse commented on #91
Facing same issue

[2016-02-11 12:09] PDDStudio opened #92 "NullpointerException on application start"
After migrating to v 1.0 (and adjusting the source as mentioned in the documentation) the application crashes immediately on it's start and throws a `NullpointerException` :

[code]

[2016-02-11 12:29] jlelse commented on #92
I can experience this too when returning to an activity

[2016-02-11 12:55] PDDStudio commented on #92
@jlelse are you extending ATEActivity or using the other way to configure ATE? For me it is crashing while extending ATEActivity.

[2016-02-11 13:27] jlelse commented on #92
For me with ATEActivity too.

[2016-02-11 14:32] julianostarek opened #93 "Toolbar tinting"
For whatever reason, Toolbar navigation icon, menu icon and title tinting stopped working with 1.0. Not sure if that matters but it's not an appbar.

[2016-02-12 15:36] TR4Android opened #94 "Crash pre-Lollipop"
@afollestad Have you ever tested this on pre-Lollipop devices? I consistently get the following crash on an emulator running 4.4 Kitkat and your sample application:
[code]
Seems like there is no field called `ATTRS_THEME` on those devices.

[2016-02-14 19:03] jlelse commented on #94
Same for me here

[2016-02-14 20:30] #94 closed

[2016-02-14 20:37] afollestad commented on #89
Which views specifically?

[2016-02-14 20:43] julianostarek commented on #89
@afollestad Doesn't this not matter?🤔 You cannot cast for example an ATESeekbar to an AppCompatSeekbar.

[2016-02-14 20:45] afollestad commented on #89
Oh I thought you meant casting them to the base views, e.g. a regular `SeekBar`. I'll make all the ATE views inherit from the AppCompat versions.

[2016-02-14 20:45] afollestad commented on #89
Although a few of them already do, e.g. `ATESpinner`

[2016-02-14 20:47] #89 closed

[2016-02-14 20:47] julianostarek commented on #89
Your effort with this project is just awesome!😂 @afollestad

[2016-02-15 19:58] MenosGrante commented on #93
Have the same bug with 1.0 version.

[2016-02-18 03:12] bishwash72 commented on #93
+1. facing same issue.

[2016-02-18 19:28] jlelse commented on #93
+1 Please fix this asap, I want to release my app update!

[2016-02-18 20:19] TR4Android opened #97 "Remove post inflation processing"
Spending a few hours working on this library I finally drilled down to the core of a rather huge issue this library has for now: one `View` can be added to the `mPostInflationApply` array thus causing the theming to go all weird. This is because `mKeyContext` will be set to `null` after the first call to `postApply()` and all subsequent calls don't have any proper context to work with.

Here a two

[2016-02-18 20:21] TR4Android opened #98 "Ability to subclass `ATEView`"
I'd like to be able to write custom widgets that are subclasses of existing widgets and automatically are properly themed. Is that in any way possible?

[2016-02-19 09:20] bishwash72 opened #99 "Error when com.afollestad.appthemeengine.prefs.ATEListPreference is clicked."
[code]

[2016-02-21 03:29] AnimbusDev opened #101 "More than one issue"
- [ ] Drawer statusbar is not translucent
- [ ] Give us a tag that goes something like this: collapsing_tb_ignore_expanded or collapsing_tb_ignore_collapsed. (This is for the text only. Not the icons. You get the idea)

[2016-02-21 03:33] afollestad commented on #101
The first one is already in another issue. Feel free to do it yourself, I won't have any time for it soon.

[2016-02-21 22:50] AnimbusDev commented on #101
@afollestad Ok

[2016-02-22 22:49] pinpong opened #102 "MenuItem"
How can i apply ATE to switchOnOff ?

`<menu xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:app="http://schemas.android.com/apk/res-auto"
      xmlns:tools="http://schemas.android.com/tools"
      tools:context=".ui.MainActivity">
    <item
        android:id="@+id/action_settings"
        android:title="@string/action_settings"
        app:showAsAction="never"/>
    <item

[2016-02-24 10:44] jlelse opened #103 "Toolbar background not tinted when using fragments"
I don't know if this only happens when using fragments, but the toolbar (AppCompat one) isn't tinted

[2016-02-24 13:17] PDDStudio commented on #92
Should be fixed now.

[2016-02-24 13:17] #92 closed

[2016-02-24 14:12] PDDStudio opened #104 "ProgressBar not themed in sample app"
Title should say everything. The progressbar in the sample application isn't themed at all.

[2016-02-24 18:19] adeldolgov opened #105 "preApply() doesnt work."
Hello!
Today i updated your library to version 1.0.0 and now i cant apply config.
When i write .postApply or .apply(this) <after ATE.config method> it throws
"Caused by: java.lang.IllegalStateException: A factory has already been set on this LayoutInflater."

[2016-02-24 18:36] julianostarek commented on #105
@adeldolgov Because both methods were deprecated with 1.0.0. In Android Studio, right click -> go to declaration and you'd see it.

[2016-02-24 18:39] adeldolgov commented on #105
Well,so how i can apply now?

[2016-02-24 18:49] adeldolgov commented on #105
@julianostarek I didnt find any another method for apply config.

[2016-02-24 19:38] afollestad commented on #105
@adeldolgov look at the sample project and documentation (in the README)

[2016-02-24 19:38] #105 closed

[2016-02-24 19:44] adeldolgov commented on #105
@afollestad I readed the documentation and looked sample project, in documentation, the config method have .apply(this) at the end.
In my application it throws this exception.

[2016-02-24 19:50] adeldolgov commented on #105
@afollestad I'll be very grateful if You say me how to do this. I spent 4 hours and didnt find solution :(

[2016-02-24 20:01] adeldolgov commented on #105
@afollestad Do i need to write correct methods (preApply,postApply,etc.) and when i select new color,i should write .commit() and then recreate activity?

[2016-02-24 20:11] julianostarek commented on #105
@adeldolgov with 1.0.0, theming is done at inflation time, you shouldn't need to do anything

[2016-02-24 20:13] adeldolgov commented on #105
@julianostarek I'm afraid to seem bothersome,but what you mean? And can you send example code to me?

[2016-02-24 20:28] adeldolgov commented on #105
@julianostarek I should write commit of theme before
ATE.preApply(this, getATEKey());
        super.onCreate(savedInstanceState);
?

[2016-02-25 10:50] adeldolgov opened #106 "setSupportActionBar() didnt work if use ATEActivity"
Caused by: java.lang.IllegalStateException: This Activity already has an action bar supplied by the window decor. Do not request Window.FEATURE_SUPPORT_ACTION_BAR and set windowActionBar to false in your theme to use a Toolbar instead.
                                                                            at android.support.v7.app.AppCompatDelegateImplV7.setSupportActionBar(AppCompatDelegateI

[2016-02-25 14:02] PDDStudio commented on #106
This is mostly an issue related to your theme. Are you sure you've set it up correctly?

[2016-02-25 14:06] adeldolgov commented on #106
@PDDStudio Yes, i check my theme a lot of times.
If i use AppCombat instead ATEActivity i dont get this error.
Maybe i have this error because i using Material Drawer library by Mike Penz. Well, i should return to 0.7.7 version of ATE :(

[2016-02-25 14:39] jlelse commented on #103
![screenshot_2016-02-25-15-38-24](https://cloud.githubusercontent.com/assets/8822316/13322699/ec58370e-dbd5-11e5-945f-f96d003f0573.png)

That happens always.....

[2016-02-25 14:41] jlelse commented on #103
What can I do? Please resolve this issue asap

[2016-02-25 14:46] PDDStudio commented on #106
@adeldolgov can you post snippets/your source? And which version of the drawer are you using/how did you setup your drawer?

[2016-02-25 14:49] adeldolgov commented on #106
@PDDStudio I just try create new project  and setup 1.0.0 ATE. If i get this error again, i tell you about it.

[2016-02-25 14:49] #106 closed

[2016-02-25 16:25] afollestad commented on #103
Sorry, I'm very busy with work right now.

[2016-02-25 18:51] jlelse commented on #103
Ok no problem!
I like ATE but I think I nevertheless have to remove it from my project again...

[2016-02-25 20:46] PDDStudio commented on #103
@jlelse why? Are you applying your config from within your activity? And is your toolbar in the main activity or is it inside the fragment?

[2016-02-26 06:08] jlelse commented on #103
Yes, I'm applying it from inside the activity and the toolbar is in the activity too.

[2016-02-27 01:04] PDDStudio commented on #103
@jlelse did you add a default background color for the toolbar? And do you set the color via tag or code?

[2016-02-27 06:26] jlelse commented on #103
I think the problem was that I didn't define a primary color in the theme

[2016-02-27 10:49] PDDStudio commented on #103
@jlelse okay, so I'm assuming everything is working now?

[2016-02-27 10:56] jlelse commented on #103
@PDDStudio For the moment yes, because I removed color changing option

[2016-02-29 03:25] Williaan commented on #94
it's not resolved! Error persists

[2016-02-29 03:36] afollestad commented on #94
Feel free to make pull requests.  😛

I don't have a lot of time for side work right now.

[2016-02-29 22:57] Williaan commented on #94
oh right, i'm trying resolve right now :)

[2016-03-04 04:59] e4basil opened #107 "java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v7/widget/TintManager"
java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v7/widget/TintManager

[2016-03-10 15:26] igorviter commented on #94
Same for me too

[2016-03-12 11:06] e4basil commented on #94
same issue

[2016-03-17 15:36] mariotaku commented on #107
Maybe you need to update support library version.

[2016-03-17 15:43] mariotaku opened #109 "Window content overlay displayed outside a dialog"
![image](https://cloud.githubusercontent.com/assets/830358/13851424/11e02846-ec99-11e5-9a85-b8682770117b.png)
![image](https://cloud.githubusercontent.com/assets/830358/13851495/6b40e59c-ec99-11e5-8fa2-d092e6734217.png)
There shouldn't have a windowContentOverlay for dialogs, seems problematic part is Hack code in `InflationInterceptor` (L231-L275).

One possible workaround:

Add code below to act

[2016-03-18 08:23] nvnkmr opened #110 "Add Preference v7 support and add border color for color chooser"
I have a material design app but i need to use preference v7 to my project please support this in your next update

[2016-03-18 14:37] #99 closed

[2016-03-19 03:10] mariotaku commented on #110
You could use MaterialDialogs for DialogPreferenceCompat subclasses.

[2016-03-19 03:53] nvnkmr commented on #110
No I'm using PreferenceCompat and app theme engine preference are not compatible.

[2016-03-19 04:41] mariotaku commented on #110
@nvnkmr All widgets in Preference layout  has already themed with ATE, the only thing you need to take care of is subclass of DialogPreference. see my implementations: https://github.com/TwidereProject/Twidere-Android/blob/develop/twidere/src/main/java/org/mariotaku/twidere/fragment/ThemedPreferenceDialogFragmentCompat.java https://github.com/TwidereProject/Twidere-Android/blob/develop/twidere/src

[2016-03-22 18:06] nvnkmr commented on #110
I'm using PreferenceFragmentCompat and many error from color choosing dialog,list dialog,etc can't be applied it says

[2016-03-25 14:13] julianostarek commented on #93
Finally tried 1.0.1, still facing Toolbar & TabLayout text tinting issues but at least this is gone now

[2016-03-25 14:13] #93 closed

[2016-03-26 17:10] crysehillmes opened #111 "Could not work with DataBinding library"
When I try to use this engine together with databinding library, I get this error:

[code]

One of the layouts is (All views with default ate tags have this problem):

[code]

When databinding library inflate the layout, it will replace the value of `tag` property into `binding_1`. After ATEProgressBar is created, the value of tag is `binding_1,tint|accent_color`. Then in `ViewDataBinding.mapBindi

[2016-03-27 04:49] coolalien01 commented on #94
same issue  .....still exist this bug :(

[2016-04-22 01:37] ju4tin commented on #104
i have same problem,
edit ATEProgressBar, override
@Override
    public boolean isLayoutRequested() {
        return true;
    }

[2016-04-23 12:55] sawal99 opened #112 "Not working in pre lollipop devices."
when i run the app in kit-kat device i got an error i.e ATTR_THEME not found.plz fix this bug,